@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">This is just a setup, hope you guys can make it running</h1>
    <h1 class="display-4">Khuong Nguyen</h1>
    <h1 class="display-4">Asher Waqar</h1>
    <h1 class="display-4">Michael Graham</h1>
    <h1 class="display-4">Yonghua Chen</h1>
    <h1 class="display-4">Put your name here</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
