form(method="post" action="/login")
    table
        tr
            td User id
            td
                input(type="number" name="user_id")
        //- tr
        //-     td Email
        //-     td
        //-         input(type="text" name="email")
        tr
            td Password
            td
                input(type="password" name="password")
        tr
            td
            td
                input(type="submit" value = "Login")