extends user

block user_profile_content
    .table-y.scrollbar
        center.h1(style='font-size:200%;') Notification
        table.table.table-bordered.table-striped.mb-0
            thead
            tr
                th(scope='col') #Tracking numbers
                th(scope='col') package updates
                th(scope='col') package locations
            tbody
            tr
                th(scope='row') 1
                td Semothing here
                td Something else here
            tr
                th(scope='row') 2
                td 
                td
            tr
                th(scope='row') 3
                td 
                td
            tr
                th(scope='row') 4
                td 
                td
            tr
                th(scope='row') 5
                td 
                td
            tr
                th(scope='row') 6
                td 
                td
            tr
                th(scope='row') 7
                td 
                td
            tr
                th(scope='row') 8
                td 
                td
            tr
                th(scope='row') 9
                td 
                td
            tr
                th(scope='row') 10
                td 
                td
            