extends layout
block content
    .table-y.scrollbar
        center.h1(style='font-size:200%;') Transaction
        table.table.table-bordered.table-striped.mb-0
            thead
            tr
                th(scope='col') #Transaction number
                th(scope='col') item revenue name
                th(scope='col') item revenue price
                th(scope='col') transaction date
                th(scope='col') office id
            tbody
            tr
                th(scope='row') 1
                td Semothing here
                td Semothing here
                td Semothing here
                td Something else here
            tr
                th(scope='row') 2
                td 
                td
                td
                td
            tr
                th(scope='row') 3
                td 
                td
                td
                td
            tr
                th(scope='row') 4
                td 
                td
                td
                td
            tr
                th(scope='row') 5
                td 
                td
                td
                td
            tr
                th(scope='row') 6
                td 
                td
                td
                td
            tr
                th(scope='row') 7
                td 
                td
                td
                td
            tr
                th(scope='row') 8
                td 
                td
                td
                td
            tr
                th(scope='row') 9
                td 
                td
                td
                td
            tr
                th(scope='row') 10
                td 
                td
                td
                td